.root {
	padding: 80px 200px;
	font-size: 16px;
	h3 {
		font-size: 22px;
		border-bottom: 1px dashed #c6edf4;
		margin-bottom: 15px;
	}
	a,
	p {
		color: #b1b2a5;
		font-weight: 400;
	}
	svg {
		width: 40px;
		height: 40px;
	}
	input {
		background-color: #fff;
		border: 1px solid #ddd;
		color: #444444;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 300;
		padding: 16px;
		width: 100%;
		border-radius: 0;
	}
}
