.root {
	height: 100%;
	:global {
		.ant-card {
			background-color: #414a3b;
			width: 100%;
			min-height: 300px;
			border: none;
			.ant-card-body {
				padding: 0;
			}
			.ant-card-meta-title {
				color: white !important;
				white-space: normal;
				text-align: center;
				font-size: 25px;
				padding: 10px;
				line-height: 24px;
				font-weight: 400;
			}
			.ant-card-meta-description {
				font-size: 17px;
				line-height: 26px;
				letter-spacing: 0;
				font-weight: 400;
				font-style: normal;
				text-transform: none;
				color: #6c6965;
			}
		}
	}
}
