$base-padding: 4px;

@for $i from 0 through 10 {
	// Tính toán padding
	.p-#{$i} {
		padding: $base-padding * $i !important;
	}
	.px-#{$i} {
		padding: 0 $base-padding * $i !important;
	}
	.py-#{$i} {
		padding: $base-padding * $i 0 !important;
	}
	.pt-#{$i} {
		padding-top: $base-padding * $i !important;
	}
	.pb-#{$i} {
		padding-bottom: $base-padding * $i !important;
	}
	.pr-#{$i} {
		padding-right: $base-padding * $i !important;
	}
	.pl-#{$i} {
		padding-left: $base-padding * $i !important;
	}

	// Tính toán margin
	.m-#{$i} {
		margin: $base-padding * $i !important;
	}
	.mx-#{$i} {
		margin: 0 $base-padding * $i !important;
	}
	.my-#{$i} {
		margin: $base-padding * $i 0 !important;
	}
	.mt-#{$i} {
		margin-top: $base-padding * $i !important;
	}
	.mb-#{$i} {
		margin-bottom: $base-padding * $i !important;
	}
	.mr-#{$i} {
		margin-right: $base-padding * $i !important;
	}
	.ml-#{$i} {
		margin-left: $base-padding * $i !important;
	}

	// Tính toán gap
	.gap-#{$i} {
		gap: $base-padding * $i;
	}
}
.margin-global {
	margin: 0 $base-padding * 50;
}
.layout {
	width: 60%;
	margin: 0 auto;
}
.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justify {
	&-start {
		justify-content: flex-start;
	}
	&-end {
		justify-content: flex-end;
	}
	&-center {
		justify-content: center;
	}
	&-between {
		justify-content: space-between;
	}
	&-around {
		justify-content: space-around;
	}
}
.text-p,
p,
span {
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
	color: #6c6965 !important;
}
.text-white {
	color: #fff;
}
.color-p {
	color: #6c6965;
}
.color-h {
	color: #414b3a !important;
}
.bg-white {
	background-color: #fff;
}
.bold {
	font-weight: bold;
	color: #6c6965 !important;
}
.center {
	text-align: center !important;
}

.hr {
	width: 100%;
	border-color: #b7b7b7;
	border-bottom-width: 3px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-style: dashed;
	padding-top: 30px;
}
