@import url(./common.module.scss);
:root {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-weight: 200;
}

a {
	list-style: none;
}

ul li {
	text-decoration: none;
}
