@import url(./common.module.scss);
:root {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-weight: 200;
}

a {
	list-style: none;
}

ul li {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	font-family: Oswald, sans-serif !important;
	color: #414b3a !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400 !important;
	font-style: normal;
}
h1 {
	font-size: 40px !important;
	margin-bottom: 0 !important;
	line-height: 45px;
}
h2 {
	font-size: 36px !important;
	line-height: 40px;
}
h3 {
	font-size: 20px !important;
	line-height: 28px;
}
h4 {
	font-size: 22px !important;
	margin: 0 0 15px;
	line-height: 30px;
}
