.root {
	border-bottom: 5px solid #f26a44;
	background-color: white !important;
	.global {
		svg {
			color: #ffffff !important;
			font-size: 15px;
		}
	}
	.header {
		width: 70%;
		margin: 0 auto;
		height: 100px;
	}
	.textHeader {
		text-transform: uppercase;
		font-size: 14px;
		background-color: transparent !important;
		cursor: pointer;
		padding-right: 130px;
		a {
			font-weight: 400;
			white-space: nowrap;
			font-family: Oswald, sans-serif;
			color: #222 !important;
		}
		.destinations {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 50px;
				background-color: transparent;
				left: 0;
				bottom: -50px;
			}
			ul.menu {
				position: absolute;
				background-color: white !important;
				display: none;
				border: 1px solid #ededed;
				padding: 0 0 10px 0;
				width: 140%;
				font-size: 14px;
				line-height: 35px;
				z-index: 1000;
				border-top: 4px solid #414a3b;
				margin-top: 40px;
				a {
					padding: 3px 10px;
					color: #b5b5b5 !important;
					opacity: 0.5;
					font-weight: 400;
					&:hover {
						color: black !important;
						opacity: 1;
					}
				}
			}
			&:hover {
				.menu,
				a {
					display: block;
				}
			}
		}
	}
	.iconHeader {
		position: fixed;
		top: 44px;
		right: 15%;
		span {
			color: #ffffff !important;
			&:hover {
				color: #414a3b !important;
			}
		}
	}
}
