.root {
	border-bottom: 5px solid #f26a44;
	.header {
		width: 60%;
		margin: 0 auto;
	}
	.textHeader {
		text-transform: uppercase;
		font-size: 14px;
		background-color: transparent !important;
		cursor: pointer;
		a{
			font-weight: 500;
			color: #414a3b !important;
		}
	}
}
