.root {
	:global {
		.by {
			color: #6d6d6d;
			font-size: 11px;
			margin: 6px 0 0;
			cursor: pointer;
		}
		.ant-image {
			object-fit: cover;
		}
	}
	.title {
		color: #6d6d6d;
		font-size: 19px !important;
		margin-top: 12px;
	}
	.description {
		margin: 12px 0 16px 0;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 0;
		font-weight: 400;
		font-style: normal;
		text-transform: none;
		color: #6c6965 !important;
	}
}
