.root {
	padding-bottom: 44px;
	background-color: white !important;
	:global {
		h1 {
			text-transform: uppercase;
			text-align: center;
			color: #414b3a;
		}
	}
	.containerContact {
		width: 50%;
		margin: 0 auto;
	}
	.textContainer {
		padding-top: 44px;
	}
}
