.root {
	padding-top: 20px;
	width: 70%;
	margin: 0 auto;
	img {
		max-width: 550px;
		max-height: 550px;
		border-radius: 50%;
	}
	.textContainer {
		width: 50%;
		p {
			font-size: 14px;
			line-height: 26px;
			letter-spacing: 0;
			font-weight: 300;
			font-style: normal;
			text-transform: none;
			color: #6c6965;
		}
	}
}
